<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/ring.css">
</head>
<body>
    <header>
        <div>
            <h1>Mangata & Gallo</h1>
        </div>
        <nav>
            <ul>
               <a href=""> <li>Ho<span>me</span></li></a>
                <a href=""><li>Products</li></a>
                <a href=""><li>Contact Us</li></a>
            </ul>
        </nav>
    </header>
    <main>
        <section class="sidebar">
            <div id="gold_image">
                <img src="../images/pexels-pixabay-248077.jpg" alt="">
            </div>
            <div class="nav">
                <div class="button"><h2>Rings</h2></div>
                <div class="button"><h2>Makeup</h2></div>
                <div class="button"><h2>Necklace</h2></div>
                <div class="button"><h2>Earrings</h2></div>
                <div class="button"><h2>limited</h2></div>
                <div class="button"><h2>Promo</h2></div>
            </div> 
        </section>
        <section class="workspace">
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>
            <div class="items"></div>  
        </section>
    </main>
</body>
</html>